@import "reset";
@import "limitWrapper";

body {
    background-color: #000;
    color: #FFF;
}

@mixin max-screen($res) {
    @media screen and (max-width: $res) {
        @content;
    }
}

.overflow-hidden {
    overflow: hidden;
}

/* --------HEADER----------- */

.header {
    position: fixed;
    width: 100%;
    z-index: 1;

    &__block {
        // .header__block
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000;
        border: 1px solid red;
        padding: 0 20px;
    }

    &__content {
        // .header__content
        width: 100dvw;
        display: flex;
        justify-content: center;
    }
}

/* --------NAVIGATION----------- */

.navigation {

    &__block {
        // .navigation__block
        width: 100%;
    }
}

.content__navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-logo {
        width: 40px;
        height: 40px;

        img {
            width: 40px;
            height: 40px;
        }
    }
}

.items {
    display: flex;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 20px;

    &__link {
        color: #FFF;
        text-decoration: underline;

        &:hover {
            color: #FF0000;
        }
    }

    @include max-screen(605px) {
        transform: translateX(-100dvw);
        position: absolute;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100dvw;
        height: 100dvh;
        background-color: black;
        gap: 50px;
        font-size: 28px;
        left: 0;
        top: 0;
        transition: all .1s;
    }
}

.items-menu {
    transform: translateX(0);
    transition: all .1s;
}

.burger-close {
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 30px;

    &__item-one {
        // .burger-close__item-one
        margin: 0 0 5px 0;
        transform: rotate(0deg);
        transition: all 0.1s ease-out 0s;
    }

    &__item-three {
        // .burger-close__item_three
        margin: 5px 0 0 0;
        transform: rotate(0deg);
        transition: all 0.1s ease-out 0s;
    }

    @include max-screen(605px) {
        display: flex;
        z-index: 3;
    }
}

.burger-open {
    display: none;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 30px;

    &__item-one {
        // .burger-open__item-one
        position: absolute;
        transform: rotate(45deg);
        transition: all 0.1s ease-out 0s;
    }

    &__item-two {
        // .burger-open__item_two
        display: none;
        //transition: all 1.9s ease-out 0s;
    }

    &__item-three {
        // .burger-open__item_three
        position: absolute;
        transform: rotate(-45deg);
        transition: all 0.1s ease-out 0s;
    }

    @include max-screen(605px) {
        display: flex;
    }
}

.item {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #FFF;
}

/* --------MAIN----------- */

.main {

    &__block {
        // .main__block
        //padding: 0 20px;
        border: 1px solid red;
    }

    &__content {
        // .main__content
        display: flex;
        flex-direction: column;
    }

    &__info {
        // .main__info
        border: 1px solid red;
    }
}

//.stamp {
//    background: url("../images/glass.svg") no-repeat center;
//    height: 100dvh;
//    display: flex;
//    align-items: center;
//    justify-content: center;
//    animation: Appearance .3s;
//
//    @-webkit-keyframes Appearance {
//        0% {opacity: 0;}
//        100% {opacity: 1;}
//    }
//
//    @-o-keyframes Appearance {
//        0% {opacity: 0;}
//        100% {opacity: 1;}
//    }
//
//    @-moz-keyframes Appearance {
//        0% {opacity: 0;}
//        100% {opacity: 1;}
//    }
//
//    @keyframes Appearance {
//        0% {opacity: 0;}
//        100% {opacity: 1;}
//    }
//
//    &__img {
//        // .stamp__img
//        margin: 0 0 70px 0;
//
//        img {
//            width: 90dvw;
//            height: 340px;
//        }
//    }
//}

.stamp {
    position: relative;
    //height: 100dvh;

    &__img {
        // .stamp__img
        //margin: 0 0 70px 0;
        //position: absolute;
        //top: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.glass-img {
    width: 100dvw;
    height: 100dvh;
    animation: Appearance .3s;

    @-webkit-keyframes Appearance {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }

    @-o-keyframes Appearance {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }

    @-moz-keyframes Appearance {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }

    @keyframes Appearance {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
}

.owl-img {
    position: absolute;
    top: -20px;
    width: clamp(20dvw, 54dvw, 300px);
    height: 100dvh;
    animation: Owl .2s;

    @keyframes Owl {
        0% {
            opacity: 0;
            transform: rotate(180deg);
        }
        100% {
            opacity: 1;
            transform: rotate(0);
        }
    }
}

/* --------FOOTER----------- */

.footer {

    &__block {
        // .footer__block
        //padding: 0 20px;
        border: 1px solid red;
    }

    &__content {
        // .footer__content
    }
}
